In [191]:
import pandas as pd
import requests
import json
import openai
from langchain_openai import ChatOpenAI
import os
from CredentialTo.CredentialToBrokerAPI import CredentialAngelOne
from SmartApi.smartConnect import SmartConnect
import settings

In [192]:
df_futureOptions = pd.DataFrame()
url = "https://margincalculator.angelbroking.com/OpenAPI_File/files/OpenAPIScripMaster.json"
masterData = requests.get(url).json() 
df_futureOptions = pd.DataFrame.from_dict(masterData)

In [193]:
df_futureOptions.head()

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
0,99926000,Nifty 50,NIFTY,,0.000000,1,AMXIDX,NSE,0.000000
1,99926001,Nifty GrowSect 15,NIFTY GROWSECT 15,,0.000000,1,AMXIDX,NSE,0.000000
2,99926002,Nifty50 PR 2x Lev,NIFTY50 PR 2X LEV,,0.000000,1,AMXIDX,NSE,0.000000
3,99926004,Nifty 500,NIFTY 500,,0.000000,1,AMXIDX,NSE,0.000000
4,99926008,Nifty IT,NIFTY IT,,0.000000,1,AMXIDX,NSE,0.000000

In [194]:
df_futureOptions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122779 entries, 0 to 122778
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   token           122779 non-null  object
 1   symbol          122779 non-null  object
 2   name            122779 non-null  object
 3   expiry          122779 non-null  object
 4   strike          122779 non-null  object
 5   lotsize         122779 non-null  object
 6   instrumenttype  122779 non-null  object
 7   exch_seg        122779 non-null  object
 8   tick_size       122779 non-null  object
dtypes: object(9)
memory usage: 8.4+ MB

In [195]:
df_futureOptions["strike"] = df_futureOptions["strike"].astype(float)


print(df_futureOptions.head())

      token             symbol               name expiry  strike lotsize  \
0  99926000           Nifty 50              NIFTY            0.0       1
1  99926001  Nifty GrowSect 15  NIFTY GROWSECT 15            0.0       1
2  99926002  Nifty50 PR 2x Lev  NIFTY50 PR 2X LEV            0.0       1
3  99926004          Nifty 500          NIFTY 500            0.0       1
4  99926008           Nifty IT           NIFTY IT            0.0       1

  instrumenttype exch_seg tick_size
0         AMXIDX      NSE  0.000000
1         AMXIDX      NSE  0.000000
2         AMXIDX      NSE  0.000000
3         AMXIDX      NSE  0.000000
4         AMXIDX      NSE  0.000000

Save NIFTY 50 token to fetch ltp once smart api connection established

In [196]:
nifty50_token = df_futureOptions.loc[df_futureOptions["symbol"] == "Nifty 50"] 
print(nifty50_token.token.values[0])
print(nifty50_token.dtypes)

99926000
token              object
symbol             object
name               object
expiry             object
strike            float64
lotsize            object
instrumenttype     object
exch_seg           object
tick_size          object
dtype: object

ftech nifty 50 LTP

In [197]:
df_futureOptions = df_futureOptions[ (df_futureOptions['name'].isin(settings.futureOption_list) 
                                                            & df_futureOptions['expiry'].isin(settings.expiry_list)
                                                            & df_futureOptions['instrumenttype'].isin(settings.instrument_list))]

In [198]:
df_futureOptions.head()

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
27630,60302,NIFTY30SEP2522600PE,NIFTY,30SEP2025,2260000.0,75,OPTIDX,NFO,5.000000
27631,60310,NIFTY30SEP2522800PE,NIFTY,30SEP2025,2280000.0,75,OPTIDX,NFO,5.000000
27632,60319,NIFTY30SEP2523100CE,NIFTY,30SEP2025,2310000.0,75,OPTIDX,NFO,5.000000
27633,60325,NIFTY30SEP2523250CE,NIFTY,30SEP2025,2325000.0,75,OPTIDX,NFO,5.000000
27634,60326,NIFTY30SEP2523250PE,NIFTY,30SEP2025,2325000.0,75,OPTIDX,NFO,5.000000

In [199]:
df_futureOptions["strike"] = (df_futureOptions["strike"] / 100).astype(int)

df_futureOptions.head()

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
27630,60302,NIFTY30SEP2522600PE,NIFTY,30SEP2025,22600,75,OPTIDX,NFO,5.000000
27631,60310,NIFTY30SEP2522800PE,NIFTY,30SEP2025,22800,75,OPTIDX,NFO,5.000000
27632,60319,NIFTY30SEP2523100CE,NIFTY,30SEP2025,23100,75,OPTIDX,NFO,5.000000
27633,60325,NIFTY30SEP2523250CE,NIFTY,30SEP2025,23250,75,OPTIDX,NFO,5.000000
27634,60326,NIFTY30SEP2523250PE,NIFTY,30SEP2025,23250,75,OPTIDX,NFO,5.000000

In [200]:
df_futureOptions = df_futureOptions.reset_index(drop=True)
df_futureOptions = df_futureOptions[(df_futureOptions['expiry'].isin(settings.expiry_list)) ]
# df_futureOptions = df_futureOptions[(df_futureOptions['strike'] < 3000000) ]

In [201]:
df_futureOptions.head()

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
0,60302,NIFTY30SEP2522600PE,NIFTY,30SEP2025,22600,75,OPTIDX,NFO,5.000000
1,60310,NIFTY30SEP2522800PE,NIFTY,30SEP2025,22800,75,OPTIDX,NFO,5.000000
2,60319,NIFTY30SEP2523100CE,NIFTY,30SEP2025,23100,75,OPTIDX,NFO,5.000000
3,60325,NIFTY30SEP2523250CE,NIFTY,30SEP2025,23250,75,OPTIDX,NFO,5.000000
4,60326,NIFTY30SEP2523250PE,NIFTY,30SEP2025,23250,75,OPTIDX,NFO,5.000000

In [203]:
    
#_get_totp_factor
# enter authenticator angelone
result = "630667"
check_length_of_input = len(result)
result = int(result)
    
# convert totp to string if it is not already   
totp = str(result)
api_key = CredentialAngelOne.APIKEY
username = CredentialAngelOne.USERNAME
pwd = CredentialAngelOne.PASSWORD
smartApi = SmartConnect(api_key)

data = smartApi.generateSession(username, pwd, totp)

print(F"Broker Replied:", data)
print(F"Connection Established to Broker: ", data['status']) # ok or not ok
        
authToken = data['data']['jwtToken']
refreshToken = data['data']['refreshToken']
# fetch the feedtoken
feedToken = smartApi.getfeedToken()
smartApi = smartApi
# fetch User Profile
res = smartApi.getProfile(refreshToken)
smartApi.generateToken(refreshToken)
res=res['data']['exchanges']

[I 250906 17:38:39 smartConnect:124] in pool

Broker Replied: {'status': True, 'message': 'SUCCESS', 'errorcode': '', 'data': {'clientcode': 'AAAI838566', 'name': 'DEVESH', 'email': '', 'mobileno': '', 'exchanges': ['nse_fo', 'nse_cm', 'ncx_fo', 'bse_fo', 'bse_cm', 'mcx_fo'], 'products': ['MARGIN', 'MIS', 'NRML', 'CNC', 'CO', 'BO'], 'lastlogintime': '', 'broker': '', 'jwtToken': 'Bearer eyJhbGciOiJIUzUxMiJ9.eyJ1c2VybmFtZSI6IkFBQUk4Mzg1NjYiLCJyb2xlcyI6MCwidXNlcnR5cGUiOiJVU0VSIiwidG9rZW4iOiJleUpoYkdjaU9pSlNVekkxTmlJc0luUjVjQ0k2SWtwWFZDSjkuZXlKMWMyVnlYM1I1Y0dVaU9pSmpiR2xsYm5RaUxDSjBiMnRsYmw5MGVYQmxJam9pZEhKaFpHVmZZV05qWlhOelgzUnZhMlZ1SWl3aVoyMWZhV1FpT2pnc0luTnZkWEpqWlNJNklqTWlMQ0prWlhacFkyVmZhV1FpT2lJMlpUVmhPV05sWlMwME1tWXhMVE0zWlRJdE9HVXlPUzFsTXpJek5tUTFOelUzT1RnaUxDSnJhV1FpT2lKMGNtRmtaVjlyWlhsZmRqSWlMQ0p2Ylc1bGJXRnVZV2RsY21sa0lqbzRMQ0p3Y205a2RXTjBjeUk2ZXlKa1pXMWhkQ0k2ZXlKemRHRjBkWE1pT2lKaFkzUnBkbVVpZlN3aWJXWWlPbnNpYzNSaGRIVnpJam9pWVdOMGFYWmxJbjE5TENKcGMzTWlPaUowY21Ga1pWOXNiMmRwYmw5elpYSjJhV05sSWl3aWMzVmlJam9pUVVGQlNUZ3pPRFUyTmlJc0ltVjRjQ0k2TVRjMU56STBOamt5TUN3aWJtSm1Jam94TnpVM01UWXdNelF3TENKcFlYUWlPakUzTlRjeE5qQXpOREFzSW1wMGFTSTZJbVU0WkRJeVpUSXhMVGN4TnpVdE5HUXhNeTA1WVdObUxUZGpOREU1TVRkak5HWXpZaUlzSWxSdmEyVnVJam9pSW4wLnBDeWRiT2IzYU1KUUppQzV3azUzU3VtRVBfWVpLSlhORTFjbjBqOGNYQnlqbXdPQmMyUWw4d09KTW80bzJIT0hmYXd3TjRDUnUyYTQxSk1DdUthRGF0dUpTWENNdnM4X3BZLUpXc2JELVhRaTJrb1VHTDJWeXk5czhWUTZGWWlhdHFmUTBlV1lqbXBlRTZQdTYxRE8zbWo5Ujc0NjJJcnhwcERhX29LUjRKQSIsIkFQSS1LRVkiOiJkMmxLMlRNRSIsImlhdCI6MTc1NzE2MDUyMCwiZXhwIjoxNzU3MjQ2OTIwfQ.LnSPicQpAH6cEt4WsadtryKHuzelEV1eVWIpbhbxRR9XSPuNtCjiCMs3rZcvqYarE_z3ZVdgqj9FS6oqXqes9Q', 'refreshToken': 'eyJhbGciOiJIUzUxMiJ9.eyJ0b2tlbiI6IlJFRlJFU0gtVE9LRU4iLCJSRUZSRVNILVRPS0VOIjoiZXlKaGJHY2lPaUpTVXpJMU5pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SjFjMlZ5WDNSNWNHVWlPaUpqYkdsbGJuUWlMQ0owYjJ0bGJsOTBlWEJsSWpvaWRISmhaR1ZmY21WbWNtVnphRjkwYjJ0bGJpSXNJbWR0WDJsa0lqb3dMQ0p6YjNWeVkyVWlPaUl6SWl3aVpHVjJhV05sWDJsa0lqb2lObVUxWVRsalpXVXROREptTVMwek4yVXlMVGhsTWprdFpUTXlNelprTlRjMU56azRJaXdpYTJsa0lqb2lkSEpoWkdWZmEyVjVYM1l5SWl3aWIyMXVaVzFoYm1GblpYSnBaQ0k2TUN3aWFYTnpJam9pYkc5bmFXNWZjMlZ5ZG1salpTSXNJbk4xWWlJNklrRkJRVWs0TXpnMU5qWWlMQ0psZUhBaU9qRTNOVGN5TkRZNU1qQXNJbTVpWmlJNk1UYzFOekUyTURNME1Dd2lhV0YwSWpveE56VTNNVFl3TXpRd0xDSnFkR2tpT2lJME5tTmpaRFJqTlMxalpEUm1MVFF6WWpjdFlURXhOUzB4WlRWallUWXhOamMwWm1ZaUxDSlViMnRsYmlJNklpSjkuZVBRbGJUcXVRSnBkX1JDeUlzMHpnUVFKWlBwWVVIdEt2SnRxZm5aVmptS015cWppTHhUQjRwb296WTk3SG02WlNKWVdia0pHcnhmOUpmcFI2ZUJrRkJub1hjeXl6M08wR291bWdKLXg0WV8tOFE2cnpxUkxNTGQyQTdNMUgydkxROGIxbzZnSTJUaVNuaWtoV3I2RThaSnVlQ0hFeDlIRDhicGRfQi0tZHcwIiwiaWF0IjoxNzU3MTYwNTIwfQ.1zzKiVs8eVE32yKfhGiLArphvAodlBY-4onM9Jhlch2w0KXcdqljnmdRLw6fPE0hhHnQgvuxhmrRZG7z1HhfmA', 'feedToken': 'eyJhbGciOiJIUzUxMiJ9.eyJ1c2VybmFtZSI6IkFBQUk4Mzg1NjYiLCJpYXQiOjE3NTcxNjA1MjAsImV4cCI6MTc1NzI0NjkyMH0.xyR6yJ9PGVcWyF_hGRiYodwDNkDqOltZUC5kamSYoGx8-HExRHsgHbiA9FJ3WvGwINBPRWDAHTdYmwjiv9NMOg'}}
Connection Established to Broker:  True

Fetch NIFTY 50 LTP

In [204]:
nifty50_ltp_data = smartApi.ltpData("NSE", "NIFTY", "99926000")
print(nifty50_ltp_data)

# Extract LTP from response dict
ltp_value = float(nifty50_ltp_data["data"]["ltp"])

import math

# nifty50_ltp_data = 24740.6

# Round to nearest 50
nearest_strike = round(ltp_value / 50) * 50  

# Generate 5 strikes around LTP (2 below, 2 above, + the nearest one)
strike_list = [nearest_strike + i * 50 for i in range(-3, 3)]

# Filter DataFrame
df_futureOptions = df_futureOptions[
    df_futureOptions["strike"].isin(strike_list)
].reset_index(drop=True)

print("LTP:", ltp_value)
print("Nearest 5 strikes:", strike_list)
print(df_futureOptions)

{'status': True, 'message': 'SUCCESS', 'errorcode': '', 'data': {'exchange': 'NSE', 'tradingsymbol': 'Nifty 50', 'symboltoken': '99926000', 'open': 24818.85, 'high': 24832.35, 'low': 24621.6, 'close': 24734.3, 'ltp': 24741.0}}
LTP: 24741.0
Nearest 5 strikes: [24600, 24650, 24700, 24750, 24800, 24850]
    token               symbol   name     expiry  strike lotsize  \
0   60453  NIFTY30SEP2524600CE  NIFTY  30SEP2025   24600      75
1   60455  NIFTY30SEP2524650CE  NIFTY  30SEP2025   24650      75
2   60461  NIFTY30SEP2524750CE  NIFTY  30SEP2025   24750      75
3   60468  NIFTY30SEP2524850PE  NIFTY  30SEP2025   24850      75
4   60456  NIFTY30SEP2524650PE  NIFTY  30SEP2025   24650      75
5   60460  NIFTY30SEP2524700PE  NIFTY  30SEP2025   24700      75
6   60466  NIFTY30SEP2524800PE  NIFTY  30SEP2025   24800      75
7   60454  NIFTY30SEP2524600PE  NIFTY  30SEP2025   24600      75
8   60465  NIFTY30SEP2524800CE  NIFTY  30SEP2025   24800      75
9   60464  NIFTY30SEP2524750PE  NIFTY  30SEP2025   24750      75
10  60457  NIFTY30SEP2524700CE  NIFTY  30SEP2025   24700      75
11  60467  NIFTY30SEP2524850CE  NIFTY  30SEP2025   24850      75

   instrumenttype exch_seg tick_size
0          OPTIDX      NFO  5.000000
1          OPTIDX      NFO  5.000000
2          OPTIDX      NFO  5.000000
3          OPTIDX      NFO  5.000000
4          OPTIDX      NFO  5.000000
5          OPTIDX      NFO  5.000000
6          OPTIDX      NFO  5.000000
7          OPTIDX      NFO  5.000000
8          OPTIDX      NFO  5.000000
9          OPTIDX      NFO  5.000000
10         OPTIDX      NFO  5.000000
11         OPTIDX      NFO  5.000000

In [205]:
# ActivateMarketFeed
# token_list = [99926000] is a NIFTY 50 token to get ltp of NIFTY 50 index
token_list = list(set(df_futureOptions['token'].tolist()))
print(token_list)
formatted_token_list = [
    {
        "exchangeType": 2, 
        "tokens": token_list
    }
]

print(formatted_token_list)

['60464', '60456', '60465', '60453', '60468', '60455', '60461', '60460', '60466', '60467', '60454', '60457']
[{'exchangeType': 2, 'tokens': ['60464', '60456', '60465', '60453', '60468', '60455', '60461', '60460', '60466', '60467', '60454', '60457']}]

In [221]:
# StartStreamingUsingWebSocket
from SmartApi.smartWebSocketV2 import SmartWebSocketV2
from logzero import logger
import time
import threading




AUTH_TOKEN = authToken
API_KEY =  CredentialAngelOne.APIKEY
CLIENT_CODE = CredentialAngelOne.USERNAME
FEED_TOKEN = feedToken         

sws = SmartWebSocketV2(AUTH_TOKEN, API_KEY, CLIENT_CODE, FEED_TOKEN)

feed_col = ['Token','Open', 'High', 'Low', 'Close', 'Ltp', 'Vol', 'Oi']
df_feed = pd.DataFrame(columns=feed_col)

def on_data(wsapp, message):
    print("Ticks--------------------------------------: {}".format(message))
    
    try:
    
        ltp = 0
        open = 0
        high = 0
        low = 0
        close = 0
        volume = 0
        Oi = 0
        
        token = message['token']
 
        if 'last_traded_price' in message:
            ltp = float(message['last_traded_price'])
            
        if 'volume_trade_for_the_day' in message:
            volume = float(message['volume_trade_for_the_day'])
            
            print(f"Volume: {volume}")
        
        if 'open_price_of_the_day' in  message:
            open = float(message['open_price_of_the_day'])
            
        if 'high_price_of_the_day' in message:
            high = float(message['high_price_of_the_day'])
            
        if 'low_price_of_the_day' in message:  
            low = float(message['low_price_of_the_day'])
        
        if 'closed_price' in message:
            close = float(message['closed_price'])
            
        if 'open_interest' in message:
            Oi = float(message['open_interest'])
            
        ltp_chg = ltp - close

            
        # volume = 1
        
        #insert - If key ( Token ) Absent 
        # we will get Token key always and trading symbol we will get only on 1st tick
        
        if token not in df_feed['Token'].values:
            new_record = { 'Token': token, 
                            # 'TradingSymbol': 'NA',
                            'Open': open, 
                            'High': high, 
                            'Low': low, 
                            'Close': close, 
                            'Ltp': ltp,  
                            'Vol': volume,
                            'Oi': Oi,
                            }
        
            #add new record to df
                        
            if ltp > 0: # Sometimes we get invalid token data from broker. This check will prevent adding 0 value to ltp, open etc
                df_feed.loc[len(df_feed)] = new_record
            
        else:
            # Update existing record
            
            idx = df_feed.index[df_feed['Token'] == token]
            
            if not idx.empty:
                if ltp > 0:
                    df_feed.at[idx[0], 'Ltp'] = ltp
                    print(df_feed.tail(3))  # Print the last 3 row to check if it is updated

                if open > 0:
                    df_feed.at[idx[0], 'Open'] = ltp

                if high > 0:
                    df_feed.at[idx[0], 'High'] = open
                    
                if low > 0:
                    df_feed.at[idx[0], 'Low'] = high
                    
                if close > 0:
                    df_feed.at[idx[0], 'Close'] = close
            
                if volume > 0:
                    df_feed.at[idx[0], 'Vol'] = volume
                    
        print("Total Rows Col--------------------------------------:",df_feed.shape)

            
    except Exception as e: 
        print(f"Error in _event_handler_quote_update: {e}")
    
    

def on_open(wsapp):        
    mode = 3
    sws.subscribe(CredentialAngelOne.CORRELATION_ID , mode, formatted_token_list)
    # sws.unsubscribe(correlation_id, mode, token_list1)
    

def on_error(wsapp, error):
    logger.error(error)


def on_close(wsapp):
    print("on_close:")


# Assign the callbacks.
sws.on_open = on_open
sws.on_data = on_data
sws.on_error = on_error
sws.on_close = on_close

sws.connect()
# def run_ws():
#     sws.connect()

#     # Run WebSocket in background thread
#     ws_thread = threading.Thread(target=run_ws, daemon=True)
#     ws_thread.start()

Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60468', 'sequence_number': 24807, 'exchange_timestamp': 1757121906220, 'last_traded_price': 24860, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 150, 'average_traded_price': 25993, 'volume_trade_for_the_day': 518400, 'total_buy_quantity': 23625.0, 'total_sell_quantity': 6225.0, 'open_price_of_the_day': 23095, 'high_price_of_the_day': 33445, 'low_price_of_the_day': 21550, 'closed_price': 26990, 'last_traded_timestamp': 1757066397, 'open_interest': 163725, 'open_interest_change_percentage': -4625970744850583170, 'upper_circuit_limit': 76355, 'lower_circuit_limit': 5, '52_week_high_price': 58020, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 225, 'price': 24580, 'no of orders': 1}, {'flag': 1, 'quantity': 450, 'price': 24485, 'no of orders': 1}, {'flag': 1, 'quantity': 525, 'price': 24475, 'no of orders': 1}, {'flag': 1, 'quantity': 675, 'price': 24410, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 24040, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 225, 'price': 25340, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25395, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25425, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25450, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25475, 'no of orders': 1}]}
Volume: 518400.0
Total Rows Col--------------------------------------: (1, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60457', 'sequence_number': 25165, 'exchange_timestamp': 1757121906238, 'last_traded_price': 33975, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 32169, 'volume_trade_for_the_day': 2757600, 'total_buy_quantity': 96975.0, 'total_sell_quantity': 53775.0, 'open_price_of_the_day': 35995, 'high_price_of_the_day': 38455, 'low_price_of_the_day': 27325, 'closed_price': 33500, 'last_traded_timestamp': 1757066397, 'open_interest': 1943700, 'open_interest_change_percentage': -4617785896029145356, 'upper_circuit_limit': 67885, 'lower_circuit_limit': 5, '52_week_high_price': 147900, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 75, 'price': 33605, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 33520, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 33500, 'no of orders': 1}, {'flag': 1, 'quantity': 450, 'price': 33400, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 33320, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 1725, 'price': 33890, 'no of orders': 2}, {'flag': 0, 'quantity': 225, 'price': 34175, 'no of orders': 2}, {'flag': 0, 'quantity': 150, 'price': 34200, 'no of orders': 1}, {'flag': 0, 'quantity': 150, 'price': 34320, 'no of orders': 1}, {'flag': 0, 'quantity': 150, 'price': 34325, 'no of orders': 1}]}
Volume: 2757600.0
Total Rows Col--------------------------------------: (2, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60456', 'sequence_number': 24810, 'exchange_timestamp': 1757121906220, 'last_traded_price': 16950, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 19433, 'volume_trade_for_the_day': 551325, 'total_buy_quantity': 24675.0, 'total_sell_quantity': 13050.0, 'open_price_of_the_day': 15600, 'high_price_of_the_day': 23655, 'low_price_of_the_day': 14400, 'closed_price': 18595, 'last_traded_timestamp': 1757066393, 'open_interest': 216075, 'open_interest_change_percentage': -4631212027352714077, 'upper_circuit_limit': 60920, 'lower_circuit_limit': 5, '52_week_high_price': 47095, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 75, 'price': 16900, 'no of orders': 1}, {'flag': 1, 'quantity': 150, 'price': 16850, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 16725, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 16600, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 16510, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 150, 'price': 17175, 'no of orders': 1}, {'flag': 0, 'quantity': 75, 'price': 17265, 'no of orders': 1}, {'flag': 0, 'quantity': 75, 'price': 17270, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 17305, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 17310, 'no of orders': 1}]}
Volume: 551325.0
Total Rows Col--------------------------------------: (3, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60467', 'sequence_number': 24366, 'exchange_timestamp': 1757121906204, 'last_traded_price': 25305, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 24277, 'volume_trade_for_the_day': 571725, 'total_buy_quantity': 23775.0, 'total_sell_quantity': 18150.0, 'open_price_of_the_day': 25820, 'high_price_of_the_day': 29195, 'low_price_of_the_day': 20010, 'closed_price': 25110, 'last_traded_timestamp': 1757066397, 'open_interest': 228450, 'open_interest_change_percentage': 4605629042165882997, 'upper_circuit_limit': 56000, 'lower_circuit_limit': 5, '52_week_high_price': 134485, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 225, 'price': 24940, 'no of orders': 1}, {'flag': 1, 'quantity': 600, 'price': 24875, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 24855, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 24750, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 24720, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 75, 'price': 25495, 'no of orders': 1}, {'flag': 0, 'quantity': 75, 'price': 25500, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25540, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25605, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25610, 'no of orders': 1}]}
Volume: 571725.0
Total Rows Col--------------------------------------: (4, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60455', 'sequence_number': 24364, 'exchange_timestamp': 1757121906204, 'last_traded_price': 37140, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 34327, 'volume_trade_for_the_day': 245025, 'total_buy_quantity': 53700.0, 'total_sell_quantity': 8400.0, 'open_price_of_the_day': 39605, 'high_price_of_the_day': 41850, 'low_price_of_the_day': 30200, 'closed_price': 36635, 'last_traded_timestamp': 1757066380, 'open_interest': 100575, 'open_interest_change_percentage': -4624342975000964465, 'upper_circuit_limit': 72180, 'lower_circuit_limit': 5, '52_week_high_price': 150195, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 225, 'price': 36650, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 35460, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 35455, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 35450, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 35440, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 225, 'price': 37610, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 37615, 'no of orders': 1}, {'flag': 0, 'quantity': 75, 'price': 37695, 'no of orders': 1}, {'flag': 0, 'quantity': 75, 'price': 37700, 'no of orders': 1}, {'flag': 0, 'quantity': 150, 'price': 37845, 'no of orders': 1}]}
Volume: 245025.0
Total Rows Col--------------------------------------: (5, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60466', 'sequence_number': 24808, 'exchange_timestamp': 1757121906220, 'last_traded_price': 22610, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 525, 'average_traded_price': 24480, 'volume_trade_for_the_day': 3780375, 'total_buy_quantity': 61875.0, 'total_sell_quantity': 31275.0, 'open_price_of_the_day': 23325, 'high_price_of_the_day': 30745, 'low_price_of_the_day': 19415, 'closed_price': 24475, 'last_traded_timestamp': 1757066399, 'open_interest': 2010750, 'open_interest_change_percentage': -4621806406894836041, 'upper_circuit_limit': 72085, 'lower_circuit_limit': 5, '52_week_high_price': 55320, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 75, 'price': 22555, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 22305, 'no of orders': 1}, {'flag': 1, 'quantity': 600, 'price': 22200, 'no of orders': 3}, {'flag': 1, 'quantity': 600, 'price': 22170, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 22125, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 75, 'price': 22825, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 22855, 'no of orders': 1}, {'flag': 0, 'quantity': 300, 'price': 23010, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 23015, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 23020, 'no of orders': 1}]}
Volume: 3780375.0
Total Rows Col--------------------------------------: (6, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60465', 'sequence_number': 24365, 'exchange_timestamp': 1757121906204, 'last_traded_price': 27955, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 26786, 'volume_trade_for_the_day': 3902475, 'total_buy_quantity': 112050.0, 'total_sell_quantity': 58200.0, 'open_price_of_the_day': 30995, 'high_price_of_the_day': 32080, 'low_price_of_the_day': 22140, 'closed_price': 27785, 'last_traded_timestamp': 1757066399, 'open_interest': 1876350, 'open_interest_change_percentage': -4625297376152853757, 'upper_circuit_limit': 59845, 'lower_circuit_limit': 5, '52_week_high_price': 138405, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 75, 'price': 27655, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 27615, 'no of orders': 1}, {'flag': 1, 'quantity': 150, 'price': 27500, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 27460, 'no of orders': 1}, {'flag': 1, 'quantity': 150, 'price': 27415, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 75, 'price': 27935, 'no of orders': 1}, {'flag': 0, 'quantity': 150, 'price': 28075, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 28100, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 28105, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 28125, 'no of orders': 1}]}
Volume: 3902475.0
Total Rows Col--------------------------------------: (7, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60454', 'sequence_number': 25499, 'exchange_timestamp': 1757121906246, 'last_traded_price': 15315, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 17209, 'volume_trade_for_the_day': 2092875, 'total_buy_quantity': 41400.0, 'total_sell_quantity': 59775.0, 'open_price_of_the_day': 15595, 'high_price_of_the_day': 21635, 'low_price_of_the_day': 13000, 'closed_price': 16760, 'last_traded_timestamp': 1757066398, 'open_interest': 1482675, 'open_interest_change_percentage': -4614160079638435903, 'upper_circuit_limit': 57325, 'lower_circuit_limit': 5, '52_week_high_price': 44780, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 75, 'price': 15120, 'no of orders': 1}, {'flag': 1, 'quantity': 150, 'price': 15115, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 15095, 'no of orders': 1}, {'flag': 1, 'quantity': 375, 'price': 15065, 'no of orders': 1}, {'flag': 1, 'quantity': 525, 'price': 15015, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 375, 'price': 15400, 'no of orders': 2}, {'flag': 0, 'quantity': 225, 'price': 15445, 'no of orders': 2}, {'flag': 0, 'quantity': 300, 'price': 15500, 'no of orders': 1}, {'flag': 0, 'quantity': 150, 'price': 15505, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 15520, 'no of orders': 1}]}
Volume: 2092875.0
Total Rows Col--------------------------------------: (8, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60464', 'sequence_number': 24809, 'exchange_timestamp': 1757121906220, 'last_traded_price': 20590, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 225, 'average_traded_price': 23016, 'volume_trade_for_the_day': 786000, 'total_buy_quantity': 39075.0, 'total_sell_quantity': 10500.0, 'open_price_of_the_day': 19505, 'high_price_of_the_day': 28245, 'low_price_of_the_day': 17645, 'closed_price': 22370, 'last_traded_timestamp': 1757066394, 'open_interest': 206550, 'open_interest_change_percentage': -4623182906622296088, 'upper_circuit_limit': 68220, 'lower_circuit_limit': 5, '52_week_high_price': 51600, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 150, 'price': 20410, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 20335, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 20285, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 20200, 'no of orders': 1}, {'flag': 1, 'quantity': 150, 'price': 20005, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 150, 'price': 20690, 'no of orders': 1}, {'flag': 0, 'quantity': 75, 'price': 20700, 'no of orders': 1}, {'flag': 0, 'quantity': 150, 'price': 20755, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 20960, 'no of orders': 1}, {'flag': 0, 'quantity': 300, 'price': 21420, 'no of orders': 1}]}
Volume: 786000.0
Total Rows Col--------------------------------------: (9, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60453', 'sequence_number': 24363, 'exchange_timestamp': 1757121906204, 'last_traded_price': 40660, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 37885, 'volume_trade_for_the_day': 1003425, 'total_buy_quantity': 19350.0, 'total_sell_quantity': 18450.0, 'open_price_of_the_day': 42545, 'high_price_of_the_day': 45425, 'low_price_of_the_day': 33055, 'closed_price': 39915, 'last_traded_timestamp': 1757066397, 'open_interest': 818850, 'open_interest_change_percentage': -4614308882318723317, 'upper_circuit_limit': 76605, 'lower_circuit_limit': 5, '52_week_high_price': 141415, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 225, 'price': 40030, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 40000, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 39905, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 39795, 'no of orders': 1}, {'flag': 1, 'quantity': 150, 'price': 39700, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 300, 'price': 40500, 'no of orders': 2}, {'flag': 0, 'quantity': 75, 'price': 40700, 'no of orders': 1}, {'flag': 0, 'quantity': 300, 'price': 41000, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 41060, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 41065, 'no of orders': 1}]}
Volume: 1003425.0
Total Rows Col--------------------------------------: (10, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60461', 'sequence_number': 25166, 'exchange_timestamp': 1757121906238, 'last_traded_price': 31005, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 29535, 'volume_trade_for_the_day': 657150, 'total_buy_quantity': 72600.0, 'total_sell_quantity': 15525.0, 'open_price_of_the_day': 32995, 'high_price_of_the_day': 35175, 'low_price_of_the_day': 24825, 'closed_price': 30640, 'last_traded_timestamp': 1757066398, 'open_interest': 170775, 'open_interest_change_percentage': 4593921159738947557, 'upper_circuit_limit': 63865, 'lower_circuit_limit': 5, '52_week_high_price': 142290, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 975, 'price': 30900, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 30800, 'no of orders': 1}, {'flag': 1, 'quantity': 375, 'price': 30755, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 30715, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 30500, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 150, 'price': 31000, 'no of orders': 2}, {'flag': 0, 'quantity': 225, 'price': 31105, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 31310, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 31315, 'no of orders': 1}, {'flag': 0, 'quantity': 300, 'price': 31435, 'no of orders': 1}]}
Volume: 657150.0
Total Rows Col--------------------------------------: (11, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60460', 'sequence_number': 25498, 'exchange_timestamp': 1757121906246, 'last_traded_price': 18740, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 225, 'average_traded_price': 20769, 'volume_trade_for_the_day': 3460050, 'total_buy_quantity': 39075.0, 'total_sell_quantity': 37800.0, 'open_price_of_the_day': 16935, 'high_price_of_the_day': 25970, 'low_price_of_the_day': 16000, 'closed_price': 20380, 'last_traded_timestamp': 1757066399, 'open_interest': 2062350, 'open_interest_change_percentage': -4622652836559328577, 'upper_circuit_limit': 64465, 'lower_circuit_limit': 5, '52_week_high_price': 49835, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 225, 'price': 18605, 'no of orders': 1}, {'flag': 1, 'quantity': 150, 'price': 18575, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 18565, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 18550, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 18545, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 300, 'price': 18800, 'no of orders': 2}, {'flag': 0, 'quantity': 75, 'price': 18815, 'no of orders': 1}, {'flag': 0, 'quantity': 150, 'price': 18915, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 19000, 'no of orders': 3}, {'flag': 0, 'quantity': 150, 'price': 19050, 'no of orders': 1}]}
Volume: 3460050.0
Total Rows Col--------------------------------------: (12, 8)

[W 250906 19:26:05 smartWebSocketV2:318] Attempting to resubscribe/reconnect (Attempt 1)...

Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60468', 'sequence_number': 24807, 'exchange_timestamp': 1757121906220, 'last_traded_price': 24860, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 150, 'average_traded_price': 25993, 'volume_trade_for_the_day': 518400, 'total_buy_quantity': 23625.0, 'total_sell_quantity': 6225.0, 'open_price_of_the_day': 23095, 'high_price_of_the_day': 33445, 'low_price_of_the_day': 21550, 'closed_price': 26990, 'last_traded_timestamp': 1757066397, 'open_interest': 163725, 'open_interest_change_percentage': -4625970744850583170, 'upper_circuit_limit': 76355, 'lower_circuit_limit': 5, '52_week_high_price': 58020, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 225, 'price': 24580, 'no of orders': 1}, {'flag': 1, 'quantity': 450, 'price': 24485, 'no of orders': 1}, {'flag': 1, 'quantity': 525, 'price': 24475, 'no of orders': 1}, {'flag': 1, 'quantity': 675, 'price': 24410, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 24040, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 225, 'price': 25340, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25395, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25425, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25450, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25475, 'no of orders': 1}]}
Volume: 518400.0
    Token     Open     High      Low    Close      Ltp        Vol         Oi
9   60453  42545.0  45425.0  33055.0  39915.0  40660.0  1003425.0   818850.0
10  60461  32995.0  35175.0  24825.0  30640.0  31005.0   657150.0   170775.0
11  60460  16935.0  25970.0  16000.0  20380.0  18740.0  3460050.0  2062350.0
Total Rows Col--------------------------------------: (12, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60457', 'sequence_number': 25165, 'exchange_timestamp': 1757121906238, 'last_traded_price': 33975, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 32169, 'volume_trade_for_the_day': 2757600, 'total_buy_quantity': 96975.0, 'total_sell_quantity': 53775.0, 'open_price_of_the_day': 35995, 'high_price_of_the_day': 38455, 'low_price_of_the_day': 27325, 'closed_price': 33500, 'last_traded_timestamp': 1757066397, 'open_interest': 1943700, 'open_interest_change_percentage': -4617785896029145356, 'upper_circuit_limit': 67885, 'lower_circuit_limit': 5, '52_week_high_price': 147900, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 75, 'price': 33605, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 33520, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 33500, 'no of orders': 1}, {'flag': 1, 'quantity': 450, 'price': 33400, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 33320, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 1725, 'price': 33890, 'no of orders': 2}, {'flag': 0, 'quantity': 225, 'price': 34175, 'no of orders': 2}, {'flag': 0, 'quantity': 150, 'price': 34200, 'no of orders': 1}, {'flag': 0, 'quantity': 150, 'price': 34320, 'no of orders': 1}, {'flag': 0, 'quantity': 150, 'price': 34325, 'no of orders': 1}]}
Volume: 2757600.0
    Token     Open     High      Low    Close      Ltp        Vol         Oi
9   60453  42545.0  45425.0  33055.0  39915.0  40660.0  1003425.0   818850.0
10  60461  32995.0  35175.0  24825.0  30640.0  31005.0   657150.0   170775.0
11  60460  16935.0  25970.0  16000.0  20380.0  18740.0  3460050.0  2062350.0
Total Rows Col--------------------------------------: (12, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60456', 'sequence_number': 24810, 'exchange_timestamp': 1757121906220, 'last_traded_price': 16950, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 19433, 'volume_trade_for_the_day': 551325, 'total_buy_quantity': 24675.0, 'total_sell_quantity': 13050.0, 'open_price_of_the_day': 15600, 'high_price_of_the_day': 23655, 'low_price_of_the_day': 14400, 'closed_price': 18595, 'last_traded_timestamp': 1757066393, 'open_interest': 216075, 'open_interest_change_percentage': -4631212027352714077, 'upper_circuit_limit': 60920, 'lower_circuit_limit': 5, '52_week_high_price': 47095, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 75, 'price': 16900, 'no of orders': 1}, {'flag': 1, 'quantity': 150, 'price': 16850, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 16725, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 16600, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 16510, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 150, 'price': 17175, 'no of orders': 1}, {'flag': 0, 'quantity': 75, 'price': 17265, 'no of orders': 1}, {'flag': 0, 'quantity': 75, 'price': 17270, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 17305, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 17310, 'no of orders': 1}]}
Volume: 551325.0
    Token     Open     High      Low    Close      Ltp        Vol         Oi
9   60453  42545.0  45425.0  33055.0  39915.0  40660.0  1003425.0   818850.0
10  60461  32995.0  35175.0  24825.0  30640.0  31005.0   657150.0   170775.0
11  60460  16935.0  25970.0  16000.0  20380.0  18740.0  3460050.0  2062350.0
Total Rows Col--------------------------------------: (12, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60467', 'sequence_number': 24366, 'exchange_timestamp': 1757121906204, 'last_traded_price': 25305, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 24277, 'volume_trade_for_the_day': 571725, 'total_buy_quantity': 23775.0, 'total_sell_quantity': 18150.0, 'open_price_of_the_day': 25820, 'high_price_of_the_day': 29195, 'low_price_of_the_day': 20010, 'closed_price': 25110, 'last_traded_timestamp': 1757066397, 'open_interest': 228450, 'open_interest_change_percentage': 4605629042165882997, 'upper_circuit_limit': 56000, 'lower_circuit_limit': 5, '52_week_high_price': 134485, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 225, 'price': 24940, 'no of orders': 1}, {'flag': 1, 'quantity': 600, 'price': 24875, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 24855, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 24750, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 24720, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 75, 'price': 25495, 'no of orders': 1}, {'flag': 0, 'quantity': 75, 'price': 25500, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25540, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25605, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 25610, 'no of orders': 1}]}
Volume: 571725.0
    Token     Open     High      Low    Close      Ltp        Vol         Oi
9   60453  42545.0  45425.0  33055.0  39915.0  40660.0  1003425.0   818850.0
10  60461  32995.0  35175.0  24825.0  30640.0  31005.0   657150.0   170775.0
11  60460  16935.0  25970.0  16000.0  20380.0  18740.0  3460050.0  2062350.0
Total Rows Col--------------------------------------: (12, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60455', 'sequence_number': 24364, 'exchange_timestamp': 1757121906204, 'last_traded_price': 37140, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 34327, 'volume_trade_for_the_day': 245025, 'total_buy_quantity': 53700.0, 'total_sell_quantity': 8400.0, 'open_price_of_the_day': 39605, 'high_price_of_the_day': 41850, 'low_price_of_the_day': 30200, 'closed_price': 36635, 'last_traded_timestamp': 1757066380, 'open_interest': 100575, 'open_interest_change_percentage': -4624342975000964465, 'upper_circuit_limit': 72180, 'lower_circuit_limit': 5, '52_week_high_price': 150195, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 225, 'price': 36650, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 35460, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 35455, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 35450, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 35440, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 225, 'price': 37610, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 37615, 'no of orders': 1}, {'flag': 0, 'quantity': 75, 'price': 37695, 'no of orders': 1}, {'flag': 0, 'quantity': 75, 'price': 37700, 'no of orders': 1}, {'flag': 0, 'quantity': 150, 'price': 37845, 'no of orders': 1}]}
Volume: 245025.0
    Token     Open     High      Low    Close      Ltp        Vol         Oi
9   60453  42545.0  45425.0  33055.0  39915.0  40660.0  1003425.0   818850.0
10  60461  32995.0  35175.0  24825.0  30640.0  31005.0   657150.0   170775.0
11  60460  16935.0  25970.0  16000.0  20380.0  18740.0  3460050.0  2062350.0
Total Rows Col--------------------------------------: (12, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60466', 'sequence_number': 24808, 'exchange_timestamp': 1757121906220, 'last_traded_price': 22610, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 525, 'average_traded_price': 24480, 'volume_trade_for_the_day': 3780375, 'total_buy_quantity': 61875.0, 'total_sell_quantity': 31275.0, 'open_price_of_the_day': 23325, 'high_price_of_the_day': 30745, 'low_price_of_the_day': 19415, 'closed_price': 24475, 'last_traded_timestamp': 1757066399, 'open_interest': 2010750, 'open_interest_change_percentage': -4621806406894836041, 'upper_circuit_limit': 72085, 'lower_circuit_limit': 5, '52_week_high_price': 55320, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 75, 'price': 22555, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 22305, 'no of orders': 1}, {'flag': 1, 'quantity': 600, 'price': 22200, 'no of orders': 3}, {'flag': 1, 'quantity': 600, 'price': 22170, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 22125, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 75, 'price': 22825, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 22855, 'no of orders': 1}, {'flag': 0, 'quantity': 300, 'price': 23010, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 23015, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 23020, 'no of orders': 1}]}
Volume: 3780375.0
    Token     Open     High      Low    Close      Ltp        Vol         Oi
9   60453  42545.0  45425.0  33055.0  39915.0  40660.0  1003425.0   818850.0
10  60461  32995.0  35175.0  24825.0  30640.0  31005.0   657150.0   170775.0
11  60460  16935.0  25970.0  16000.0  20380.0  18740.0  3460050.0  2062350.0
Total Rows Col--------------------------------------: (12, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60465', 'sequence_number': 24365, 'exchange_timestamp': 1757121906204, 'last_traded_price': 27955, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 26786, 'volume_trade_for_the_day': 3902475, 'total_buy_quantity': 112050.0, 'total_sell_quantity': 58200.0, 'open_price_of_the_day': 30995, 'high_price_of_the_day': 32080, 'low_price_of_the_day': 22140, 'closed_price': 27785, 'last_traded_timestamp': 1757066399, 'open_interest': 1876350, 'open_interest_change_percentage': -4625297376152853757, 'upper_circuit_limit': 59845, 'lower_circuit_limit': 5, '52_week_high_price': 138405, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 75, 'price': 27655, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 27615, 'no of orders': 1}, {'flag': 1, 'quantity': 150, 'price': 27500, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 27460, 'no of orders': 1}, {'flag': 1, 'quantity': 150, 'price': 27415, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 75, 'price': 27935, 'no of orders': 1}, {'flag': 0, 'quantity': 150, 'price': 28075, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 28100, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 28105, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 28125, 'no of orders': 1}]}
Volume: 3902475.0
    Token     Open     High      Low    Close      Ltp        Vol         Oi
9   60453  42545.0  45425.0  33055.0  39915.0  40660.0  1003425.0   818850.0
10  60461  32995.0  35175.0  24825.0  30640.0  31005.0   657150.0   170775.0
11  60460  16935.0  25970.0  16000.0  20380.0  18740.0  3460050.0  2062350.0
Total Rows Col--------------------------------------: (12, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60454', 'sequence_number': 25499, 'exchange_timestamp': 1757121906246, 'last_traded_price': 15315, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 17209, 'volume_trade_for_the_day': 2092875, 'total_buy_quantity': 41400.0, 'total_sell_quantity': 59775.0, 'open_price_of_the_day': 15595, 'high_price_of_the_day': 21635, 'low_price_of_the_day': 13000, 'closed_price': 16760, 'last_traded_timestamp': 1757066398, 'open_interest': 1482675, 'open_interest_change_percentage': -4614160079638435903, 'upper_circuit_limit': 57325, 'lower_circuit_limit': 5, '52_week_high_price': 44780, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 75, 'price': 15120, 'no of orders': 1}, {'flag': 1, 'quantity': 150, 'price': 15115, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 15095, 'no of orders': 1}, {'flag': 1, 'quantity': 375, 'price': 15065, 'no of orders': 1}, {'flag': 1, 'quantity': 525, 'price': 15015, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 375, 'price': 15400, 'no of orders': 2}, {'flag': 0, 'quantity': 225, 'price': 15445, 'no of orders': 2}, {'flag': 0, 'quantity': 300, 'price': 15500, 'no of orders': 1}, {'flag': 0, 'quantity': 150, 'price': 15505, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 15520, 'no of orders': 1}]}
Volume: 2092875.0
    Token     Open     High      Low    Close      Ltp        Vol         Oi
9   60453  42545.0  45425.0  33055.0  39915.0  40660.0  1003425.0   818850.0
10  60461  32995.0  35175.0  24825.0  30640.0  31005.0   657150.0   170775.0
11  60460  16935.0  25970.0  16000.0  20380.0  18740.0  3460050.0  2062350.0
Total Rows Col--------------------------------------: (12, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60464', 'sequence_number': 24809, 'exchange_timestamp': 1757121906220, 'last_traded_price': 20590, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 225, 'average_traded_price': 23016, 'volume_trade_for_the_day': 786000, 'total_buy_quantity': 39075.0, 'total_sell_quantity': 10500.0, 'open_price_of_the_day': 19505, 'high_price_of_the_day': 28245, 'low_price_of_the_day': 17645, 'closed_price': 22370, 'last_traded_timestamp': 1757066394, 'open_interest': 206550, 'open_interest_change_percentage': -4623182906622296088, 'upper_circuit_limit': 68220, 'lower_circuit_limit': 5, '52_week_high_price': 51600, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 150, 'price': 20410, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 20335, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 20285, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 20200, 'no of orders': 1}, {'flag': 1, 'quantity': 150, 'price': 20005, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 150, 'price': 20690, 'no of orders': 1}, {'flag': 0, 'quantity': 75, 'price': 20700, 'no of orders': 1}, {'flag': 0, 'quantity': 150, 'price': 20755, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 20960, 'no of orders': 1}, {'flag': 0, 'quantity': 300, 'price': 21420, 'no of orders': 1}]}
Volume: 786000.0
    Token     Open     High      Low    Close      Ltp        Vol         Oi
9   60453  42545.0  45425.0  33055.0  39915.0  40660.0  1003425.0   818850.0
10  60461  32995.0  35175.0  24825.0  30640.0  31005.0   657150.0   170775.0
11  60460  16935.0  25970.0  16000.0  20380.0  18740.0  3460050.0  2062350.0
Total Rows Col--------------------------------------: (12, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60453', 'sequence_number': 24363, 'exchange_timestamp': 1757121906204, 'last_traded_price': 40660, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 37885, 'volume_trade_for_the_day': 1003425, 'total_buy_quantity': 19350.0, 'total_sell_quantity': 18450.0, 'open_price_of_the_day': 42545, 'high_price_of_the_day': 45425, 'low_price_of_the_day': 33055, 'closed_price': 39915, 'last_traded_timestamp': 1757066397, 'open_interest': 818850, 'open_interest_change_percentage': -4614308882318723317, 'upper_circuit_limit': 76605, 'lower_circuit_limit': 5, '52_week_high_price': 141415, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 225, 'price': 40030, 'no of orders': 1}, {'flag': 1, 'quantity': 300, 'price': 40000, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 39905, 'no of orders': 1}, {'flag': 1, 'quantity': 225, 'price': 39795, 'no of orders': 1}, {'flag': 1, 'quantity': 150, 'price': 39700, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 300, 'price': 40500, 'no of orders': 2}, {'flag': 0, 'quantity': 75, 'price': 40700, 'no of orders': 1}, {'flag': 0, 'quantity': 300, 'price': 41000, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 41060, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 41065, 'no of orders': 1}]}
Volume: 1003425.0
    Token     Open     High      Low    Close      Ltp        Vol         Oi
9   60453  42545.0  45425.0  33055.0  39915.0  40660.0  1003425.0   818850.0
10  60461  32995.0  35175.0  24825.0  30640.0  31005.0   657150.0   170775.0
11  60460  16935.0  25970.0  16000.0  20380.0  18740.0  3460050.0  2062350.0
Total Rows Col--------------------------------------: (12, 8)
Ticks--------------------------------------: {'subscription_mode': 3, 'exchange_type': 2, 'token': '60461', 'sequence_number': 25166, 'exchange_timestamp': 1757121906238, 'last_traded_price': 31005, 'subscription_mode_val': 'SNAP_QUOTE', 'last_traded_quantity': 75, 'average_traded_price': 29535, 'volume_trade_for_the_day': 657150, 'total_buy_quantity': 72600.0, 'total_sell_quantity': 15525.0, 'open_price_of_the_day': 32995, 'high_price_of_the_day': 35175, 'low_price_of_the_day': 24825, 'closed_price': 30640, 'last_traded_timestamp': 1757066398, 'open_interest': 170775, 'open_interest_change_percentage': 4593921159738947557, 'upper_circuit_limit': 63865, 'lower_circuit_limit': 5, '52_week_high_price': 142290, '52_week_low_price': 0, 'best_5_buy_data': [{'flag': 1, 'quantity': 975, 'price': 30900, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 30800, 'no of orders': 1}, {'flag': 1, 'quantity': 375, 'price': 30755, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 30715, 'no of orders': 1}, {'flag': 1, 'quantity': 75, 'price': 30500, 'no of orders': 1}], 'best_5_sell_data': [{'flag': 0, 'quantity': 150, 'price': 31000, 'no of orders': 2}, {'flag': 0, 'quantity': 225, 'price': 31105, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 31310, 'no of orders': 1}, {'flag': 0, 'quantity': 225, 'price': 31315, 'no of orders': 1}, {'flag': 0, 'quantity': 300, 'price': 31435, 'no of orders': 1}]}
Volume: 657150.0
    Token     Open     High      Low    Close      Ltp        Vol         Oi
9   60453  40660.0  42545.0  45425.0  39915.0  40660.0  1003425.0   818850.0
10  60461  32995.0  35175.0  24825.0  30640.0  31005.0   657150.0   170775.0
11  60460  16935.0  25970.0  16000.0  20380.0  18740.0  3460050.0  2062350.0

[E 250906 19:26:18 3354030893:123] Connection closed
[W 250906 19:26:18 smartWebSocketV2:342] Connection closed due to max retry attempts reached.
[E 250906 19:26:18 3354030893:123] Connection closed
[W 250906 19:26:18 smartWebSocketV2:342] Connection closed due to max retry attempts reached.
[E 250906 19:26:18 3354030893:123] Connection closed
[W 250906 19:26:18 smartWebSocketV2:342] Connection closed due to max retry attempts reached.

In [223]:
print(df_feed.head())

   Token     Open     High      Low    Close      Ltp        Vol         Oi
0  60468  24860.0  23095.0  33445.0  26990.0  24860.0   518400.0   163725.0
1  60457  33975.0  35995.0  38455.0  33500.0  33975.0  2757600.0  1943700.0
2  60456  16950.0  15600.0  23655.0  18595.0  16950.0   551325.0   216075.0
3  60467  25305.0  25820.0  29195.0  25110.0  25305.0   571725.0   228450.0
4  60455  37140.0  39605.0  41850.0  36635.0  37140.0   245025.0   100575.0

Add LLM LOGIC USING DATAFRAME

In [217]:
df_futureOptions.head()

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
0,60453,NIFTY30SEP2524600CE,NIFTY,30SEP2025,24600,75,OPTIDX,NFO,5.000000
1,60455,NIFTY30SEP2524650CE,NIFTY,30SEP2025,24650,75,OPTIDX,NFO,5.000000
2,60461,NIFTY30SEP2524750CE,NIFTY,30SEP2025,24750,75,OPTIDX,NFO,5.000000
3,60468,NIFTY30SEP2524850PE,NIFTY,30SEP2025,24850,75,OPTIDX,NFO,5.000000
4,60456,NIFTY30SEP2524650PE,NIFTY,30SEP2025,24650,75,OPTIDX,NFO,5.000000

In [219]:
df_futureOptions.head()

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
0,60453,NIFTY30SEP2524600CE,NIFTY,30SEP2025,24600,75,OPTIDX,NFO,5.000000
1,60455,NIFTY30SEP2524650CE,NIFTY,30SEP2025,24650,75,OPTIDX,NFO,5.000000
2,60461,NIFTY30SEP2524750CE,NIFTY,30SEP2025,24750,75,OPTIDX,NFO,5.000000
3,60468,NIFTY30SEP2524850PE,NIFTY,30SEP2025,24850,75,OPTIDX,NFO,5.000000
4,60456,NIFTY30SEP2524650PE,NIFTY,30SEP2025,24650,75,OPTIDX,NFO,5.000000

In [220]:
df_feed.head(12)

    Token     Open     High      Low    Close      Ltp        Vol         Oi
0   60468  24860.0  23095.0  33445.0  26990.0  24860.0   518400.0   163725.0
1   60457  33975.0  35995.0  38455.0  33500.0  33975.0  2757600.0  1943700.0
2   60456  16950.0  15600.0  23655.0  18595.0  16950.0   551325.0   216075.0
3   60467  25305.0  25820.0  29195.0  25110.0  25305.0   571725.0   228450.0
4   60455  37140.0  39605.0  41850.0  36635.0  37140.0   245025.0   100575.0
5   60466  22610.0  23325.0  30745.0  24475.0  22610.0  3780375.0  2010750.0
6   60465  27955.0  30995.0  32080.0  27785.0  27955.0  3902475.0  1876350.0
7   60454  15315.0  15595.0  21635.0  16760.0  15315.0  2092875.0  1482675.0
8   60464  20590.0  19505.0  28245.0  22370.0  20590.0   786000.0   206550.0
9   60453  40660.0  42545.0  45425.0  39915.0  40660.0  1003425.0   818850.0
10  60461  31005.0  32995.0  35175.0  30640.0  31005.0   657150.0   170775.0
11  60460  18740.0  16935.0  25970.0  20380.0  18740.0  3460050.0  2062350.0

In [211]:
from langchain_openai import ChatOpenAI
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent

os.environ["OPENAI_API_KEY"] = "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"



df = df_feed

# LLM setup
llm = ChatOpenAI(model="gpt-4", temperature=0)

# Create agent
agent = create_pandas_dataframe_agent(llm, df, verbose=True, allow_dangerous_code=True )

# Ask questions
print(agent.run(""" you are a stock market expert.You have all the historical knowledge of NSE stock market. 
                 DO : which token has highest oi?  
                """))

> Entering new AgentExecutor chain...
Thought: To find the token with the highest 'Oi', I need to find the maximum value in the 'Oi' column and then return the corresponding token. I can do this by sorting the dataframe by the 'Oi' column in descending order and then selecting the first row.
Action: python_repl_ast
Action Input: df.sort_values(by='Oi', ascending=False).iloc[0]['Token']60460The token with the highest 'Oi' is 60460.
Final Answer: 60460

> Finished chain.
60460

In [ ]:
# conditional strategy

TradingSymbol = ""
Token = ""
_ltp = ""
_high = ""



for idx, row in df_feed.iterrows():
                    
    # LTP > High -> Conditional Strategy 1
    _ltp = row['Ltp']
    
    if _ltp <= 0:
        continue
    
    _high = row['High']
    _token = row['Token']
    
    
    Token = _token   # token from df_feed data ( websocket streaming data)

    for idx, row in df_futureOptions.iterrows():
        masterDataToken = row['token']

        if masterDataToken == Token:
            TradingSymbol = row['symbol']
            
            
orderparams = {
                "variety":"NORMAL",
                "tradingsymbol":"NIFTY30SEP2522600CE",
                "symboltoken":"60301",
                "transactiontype":"BUY",
                "exchange":"NFO",
                "ordertype":"MARKET",
                "producttype":"INTRADAY",
                "duration":"DAY",
                "price":"30000",
                "squareoff":"0",
                "stoploss":"0",
                "quantity":"75"
                }

# TransmitOrderToBrokerOMS

order_message = smartApi.placeOrder(orderparams)

print("Order Response: ", order_message)

# if order_message["status"] == "true":
#     print("Order transmitted successfully.")

Order Response:  0904e74c0e53AO

TypeError: string indices must be integers, not 'str'