In [1]:
import pandas as pd
import requests
import json
import openai
from langchain_openai import ChatOpenAI
import os
from CredentialTo.CredentialToBrokerAPI import CredentialUpstox
from SmartApi.smartConnect import SmartConnect
import settings
from datetime import datetime
import upstox_client

In [2]:
df_futureOptions = pd.DataFrame()
masterData = pd.read_json("https://assets.upstox.com/market-quote/instruments/exchange/NSE.json.gz")
# masterData = requests.get(url).json() 
df_futureOptions = pd.DataFrame.from_dict(masterData)

In [3]:
df_futureOptions.head()

,weekly,segment,name,exchange,expiry,instrument_type,asset_symbol,underlying_symbol,instrument_key,lot_size,...,asset_type,underlying_type,trading_symbol,strike_price,qty_multiplier,isin,security_type,short_name,last_trading_date,price_quote_unit
0,0.0,NSE_FO,BANKNIFTY,NSE,1.764095e+12,PE,BANKNIFTY,BANKNIFTY,NSE_FO|49906,35.0,...,INDEX,INDEX,BANKNIFTY 54900 PE 25 NOV 25,54900.0,1.0,NaN,NaN,NaN,NaN,NaN
1,0.0,NSE_FO,BANKNIFTY,NSE,1.764095e+12,CE,BANKNIFTY,BANKNIFTY,NSE_FO|49907,35.0,...,INDEX,INDEX,BANKNIFTY 55000 CE 25 NOV 25,55000.0,1.0,NaN,NaN,NaN,NaN,NaN
2,0.0,NSE_FO,BANKNIFTY,NSE,1.764095e+12,PE,BANKNIFTY,BANKNIFTY,NSE_FO|49904,35.0,...,INDEX,INDEX,BANKNIFTY 54800 PE 25 NOV 25,54800.0,1.0,NaN,NaN,NaN,NaN,NaN
3,0.0,NSE_FO,BANKNIFTY,NSE,1.764095e+12,CE,BANKNIFTY,BANKNIFTY,NSE_FO|49905,35.0,...,INDEX,INDEX,BANKNIFTY 54900 CE 25 NOV 25,54900.0,1.0,NaN,NaN,NaN,NaN,NaN
4,0.0,NCD_FO,JPYINR,NSE,1.774636e+12,CE,JPYINR,JPYINR,NCD_FO|14294,1.0,...,CUR,CUR,JPYINR 61 CE 27 MAR 26,61.0,1000.0,NaN,NaN,NaN,NaN,NaN

Convert Expiry to YYYY-MM-DD format

In [4]:
# Convert expiry from epoch (ms) to datetime
df_futureOptions["expiry"] = pd.to_datetime(df_futureOptions["expiry"], unit="ms")

# Convert datetime to string format YYYY-MM-DD
df_futureOptions["expiry"] = df_futureOptions["expiry"].dt.strftime("%Y-%m-%d")


# print(df_futureOptions.dtypes)  # verify expiry is now string
df_futureOptions.head()

,weekly,segment,name,exchange,expiry,instrument_type,asset_symbol,underlying_symbol,instrument_key,lot_size,...,asset_type,underlying_type,trading_symbol,strike_price,qty_multiplier,isin,security_type,short_name,last_trading_date,price_quote_unit
0,0.0,NSE_FO,BANKNIFTY,NSE,2025-11-25,PE,BANKNIFTY,BANKNIFTY,NSE_FO|49906,35.0,...,INDEX,INDEX,BANKNIFTY 54900 PE 25 NOV 25,54900.0,1.0,NaN,NaN,NaN,NaN,NaN
1,0.0,NSE_FO,BANKNIFTY,NSE,2025-11-25,CE,BANKNIFTY,BANKNIFTY,NSE_FO|49907,35.0,...,INDEX,INDEX,BANKNIFTY 55000 CE 25 NOV 25,55000.0,1.0,NaN,NaN,NaN,NaN,NaN
2,0.0,NSE_FO,BANKNIFTY,NSE,2025-11-25,PE,BANKNIFTY,BANKNIFTY,NSE_FO|49904,35.0,...,INDEX,INDEX,BANKNIFTY 54800 PE 25 NOV 25,54800.0,1.0,NaN,NaN,NaN,NaN,NaN
3,0.0,NSE_FO,BANKNIFTY,NSE,2025-11-25,CE,BANKNIFTY,BANKNIFTY,NSE_FO|49905,35.0,...,INDEX,INDEX,BANKNIFTY 54900 CE 25 NOV 25,54900.0,1.0,NaN,NaN,NaN,NaN,NaN
4,0.0,NCD_FO,JPYINR,NSE,2026-03-27,CE,JPYINR,JPYINR,NCD_FO|14294,1.0,...,CUR,CUR,JPYINR 61 CE 27 MAR 26,61.0,1000.0,NaN,NaN,NaN,NaN,NaN

Fetch NEarest Expiry date from Today

In [5]:


# Today as Timestamp
today = pd.to_datetime(datetime.today().date())

# Convert expiry_dates to datetime
expiry_dates = pd.to_datetime(df_futureOptions["expiry"], errors="coerce")

# Filter only future expiries
future_expiries = expiry_dates[expiry_dates >= today]

# Find nearest expiry
nearest_expiry = future_expiries.min()

print("Nearest expiry:", nearest_expiry)

Nearest expiry: 2025-09-09 00:00:00

In [6]:
settings.expiry_list_upstox[0]

'2025-09-09'

Filter df_futureOptions BY : ["name"] == "NIFTY" | ["segment"] == "NSE_FO" | expiry

In [7]:
df_futureOptions = df_futureOptions[ (df_futureOptions["name"] == "NIFTY") & (df_futureOptions["segment"] == "NSE_FO")  & (df_futureOptions["expiry"] == settings.expiry_list_upstox[0]) ]
df_futureOptions =  df_futureOptions.reset_index(drop=True)
df_futureOptions

,weekly,segment,name,exchange,expiry,instrument_type,asset_symbol,underlying_symbol,instrument_key,lot_size,...,asset_type,underlying_type,trading_symbol,strike_price,qty_multiplier,isin,security_type,short_name,last_trading_date,price_quote_unit
0,1.0,NSE_FO,NIFTY,NSE,2025-09-09,PE,NIFTY,NIFTY,NSE_FO|40700,75.0,...,INDEX,INDEX,NIFTY 26850 PE 09 SEP 25,26850.0,1.0,NaN,NaN,NaN,NaN,NaN
1,1.0,NSE_FO,NIFTY,NSE,2025-09-09,PE,NIFTY,NIFTY,NSE_FO|40650,75.0,...,INDEX,INDEX,NIFTY 25750 PE 09 SEP 25,25750.0,1.0,NaN,NaN,NaN,NaN,NaN
2,1.0,NSE_FO,NIFTY,NSE,2025-09-09,PE,NIFTY,NIFTY,NSE_FO|40652,75.0,...,INDEX,INDEX,NIFTY 25800 PE 09 SEP 25,25800.0,1.0,NaN,NaN,NaN,NaN,NaN
3,1.0,NSE_FO,NIFTY,NSE,2025-09-09,CE,NIFTY,NIFTY,NSE_FO|40651,75.0,...,INDEX,INDEX,NIFTY 25800 CE 09 SEP 25,25800.0,1.0,NaN,NaN,NaN,NaN,NaN
4,1.0,NSE_FO,NIFTY,NSE,2025-09-09,PE,NIFTY,NIFTY,NSE_FO|40654,75.0,...,INDEX,INDEX,NIFTY 25850 PE 09 SEP 25,25850.0,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,1.0,NSE_FO,NIFTY,NSE,2025-09-09,PE,NIFTY,NIFTY,NSE_FO|40478,75.0,...,INDEX,INDEX,NIFTY 23050 PE 09 SEP 25,23050.0,1.0,NaN,NaN,NaN,NaN,NaN
168,1.0,NSE_FO,NIFTY,NSE,2025-09-09,CE,NIFTY,NIFTY,NSE_FO|40480,75.0,...,INDEX,INDEX,NIFTY 23100 CE 09 SEP 25,23100.0,1.0,NaN,NaN,NaN,NaN,NaN
169,1.0,NSE_FO,NIFTY,NSE,2025-09-09,PE,NIFTY,NIFTY,NSE_FO|40483,75.0,...,INDEX,INDEX,NIFTY 23100 PE 09 SEP 25,23100.0,1.0,NaN,NaN,NaN,NaN,NaN
170,1.0,NSE_FO,NIFTY,NSE,2025-09-09,PE,NIFTY,NIFTY,NSE_FO|40465,75.0,...,INDEX,INDEX,NIFTY 23000 PE 09 SEP 25,23000.0,1.0,NaN,NaN,NaN,NaN,NaN
171,1.0,NSE_FO,NIFTY,NSE,2025-09-09,CE,NIFTY,NIFTY,NSE_FO|40466,75.0,...,INDEX,INDEX,NIFTY 23050 CE 09 SEP 25,23050.0,1.0,NaN,NaN,NaN,NaN,NaN

Fetch NIFTY 50 instrument DATA

In [8]:
# Filter NIFTY 50 data
df_nifty50 = df_futureOptions[
    (df_futureOptions["instrument_key"] == "NSE_INDEX|Nifty 50")]

df_nifty50

Empty DataFrame
Columns: [weekly, segment, name, exchange, expiry, instrument_type, asset_symbol, underlying_symbol, instrument_key, lot_size, freeze_quantity, exchange_token, minimum_lot, asset_key, underlying_key, tick_size, asset_type, underlying_type, trading_symbol, strike_price, qty_multiplier, isin, security_type, short_name, last_trading_date, price_quote_unit]
Index: []

[0 rows x 26 columns]

Fetch NIFTY LTP

In [9]:
instrument_key='NSE_INDEX|Nifty 50'

df_ltp = pd.DataFrame



from upstox_client.rest import ApiException
from pprint import pprint

# Configure OAuth2 access token for authorization: OAUTH2
configuration = upstox_client.Configuration()
configuration.access_token = CredentialUpstox.ACCESS_TOKEN  
# create an instance of the API class
api_instance = upstox_client.MarketQuoteV3Api(upstox_client.ApiClient(configuration))

try:
    # Market quotes and instruments - LTP quotes.
    api_response = api_instance.get_ltp(instrument_key=instrument_key)
    
    #  Convert API response to dict
    data_dict = api_response.to_dict()
    
      # Convert to DataFrame
    df_ltp = df_ltp.from_dict(data_dict["data"], orient="index").reset_index()
    df_ltp.rename(columns={"index": "instrument_key"}, inplace=True)
    print(df_ltp)
    
    # pprint(api_response)
except ApiException as e:
    print("Exception when calling MarketQuoteV3Api->get_ltp: %s\n" % e)

       instrument_key  last_price    instrument_token  ltq  volume       cp
0  NSE_INDEX:Nifty 50     24741.0  NSE_INDEX|Nifty 50    0       0  24734.3

Filter By Strike Price

In [10]:

# Extract LTP from response dict
nifty_ltp_value = float(df_ltp["last_price"])

import math

# nifty50_ltp_data = 24740.6

# Round to nearest 50
nearest_strike = round(nifty_ltp_value / 50) * 50  

# Generate 5 strikes around LTP (2 below, 2 above, + the nearest one)
strike_list = [nearest_strike + i * 50 for i in range(-3, 3)]

# Filter DataFrame
df_futureOptions = df_futureOptions[
    df_futureOptions["strike_price"].isin(strike_list)
].reset_index(drop=True)

print("LTP:", nifty_ltp_value)
print("Nearest 5 strikes:", strike_list)

LTP: 24741.0
Nearest 5 strikes: [24600, 24650, 24700, 24750, 24800, 24850]

/var/folders/bm/2sqnclys19zb2dh55g0cx4zc0000gn/T/ipykernel_89602/701431457.py:2: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  nifty_ltp_value = float(df_ltp["last_price"])

FINAL MASTERDATA

In [11]:
df_futureOptions.head(11)

,weekly,segment,name,exchange,expiry,instrument_type,asset_symbol,underlying_symbol,instrument_key,lot_size,...,asset_type,underlying_type,trading_symbol,strike_price,qty_multiplier,isin,security_type,short_name,last_trading_date,price_quote_unit
0,1.0,NSE_FO,NIFTY,NSE,2025-09-09,PE,NIFTY,NIFTY,NSE_FO|40573,75.0,...,INDEX,INDEX,NIFTY 24650 PE 09 SEP 25,24650.0,1.0,NaN,NaN,NaN,NaN,NaN
1,1.0,NSE_FO,NIFTY,NSE,2025-09-09,CE,NIFTY,NIFTY,NSE_FO|40572,75.0,...,INDEX,INDEX,NIFTY 24650 CE 09 SEP 25,24650.0,1.0,NaN,NaN,NaN,NaN,NaN
2,1.0,NSE_FO,NIFTY,NSE,2025-09-09,CE,NIFTY,NIFTY,NSE_FO|40577,75.0,...,INDEX,INDEX,NIFTY 24700 CE 09 SEP 25,24700.0,1.0,NaN,NaN,NaN,NaN,NaN
3,1.0,NSE_FO,NIFTY,NSE,2025-09-09,CE,NIFTY,NIFTY,NSE_FO|40579,75.0,...,INDEX,INDEX,NIFTY 24750 CE 09 SEP 25,24750.0,1.0,NaN,NaN,NaN,NaN,NaN
4,1.0,NSE_FO,NIFTY,NSE,2025-09-09,PE,NIFTY,NIFTY,NSE_FO|40578,75.0,...,INDEX,INDEX,NIFTY 24700 PE 09 SEP 25,24700.0,1.0,NaN,NaN,NaN,NaN,NaN
5,1.0,NSE_FO,NIFTY,NSE,2025-09-09,PE,NIFTY,NIFTY,NSE_FO|40580,75.0,...,INDEX,INDEX,NIFTY 24750 PE 09 SEP 25,24750.0,1.0,NaN,NaN,NaN,NaN,NaN
6,1.0,NSE_FO,NIFTY,NSE,2025-09-09,PE,NIFTY,NIFTY,NSE_FO|40582,75.0,...,INDEX,INDEX,NIFTY 24800 PE 09 SEP 25,24800.0,1.0,NaN,NaN,NaN,NaN,NaN
7,1.0,NSE_FO,NIFTY,NSE,2025-09-09,CE,NIFTY,NIFTY,NSE_FO|40581,75.0,...,INDEX,INDEX,NIFTY 24800 CE 09 SEP 25,24800.0,1.0,NaN,NaN,NaN,NaN,NaN
8,1.0,NSE_FO,NIFTY,NSE,2025-09-09,PE,NIFTY,NIFTY,NSE_FO|40571,75.0,...,INDEX,INDEX,NIFTY 24600 PE 09 SEP 25,24600.0,1.0,NaN,NaN,NaN,NaN,NaN
9,1.0,NSE_FO,NIFTY,NSE,2025-09-09,CE,NIFTY,NIFTY,NSE_FO|40570,75.0,...,INDEX,INDEX,NIFTY 24600 CE 09 SEP 25,24600.0,1.0,NaN,NaN,NaN,NaN,NaN
10,1.0,NSE_FO,NIFTY,NSE,2025-09-09,PE,NIFTY,NIFTY,NSE_FO|40584,75.0,...,INDEX,INDEX,NIFTY 24850 PE 09 SEP 25,24850.0,1.0,NaN,NaN,NaN,NaN,NaN

In [12]:
df_futureOptions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   weekly             12 non-null     float64
 1   segment            12 non-null     object
 2   name               12 non-null     object
 3   exchange           12 non-null     object
 4   expiry             12 non-null     object
 5   instrument_type    12 non-null     object
 6   asset_symbol       12 non-null     object
 7   underlying_symbol  12 non-null     object
 8   instrument_key     12 non-null     object
 9   lot_size           12 non-null     float64
 10  freeze_quantity    12 non-null     float64
 11  exchange_token     12 non-null     int64
 12  minimum_lot        12 non-null     float64
 13  asset_key          12 non-null     object
 14  underlying_key     12 non-null     object
 15  tick_size          12 non-null     float64
 16  asset_type         12 non-null     object
 17  underlying_type    12 non-null     object
 18  trading_symbol     12 non-null     object
 19  strike_price       12 non-null     float64
 20  qty_multiplier     12 non-null     float64
 21  isin               0 non-null      object
 22  security_type      0 non-null      object
 23  short_name         0 non-null      object
 24  last_trading_date  0 non-null      float64
 25  price_quote_unit   0 non-null      object
dtypes: float64(8), int64(1), object(17)
memory usage: 2.6+ KB

CONNECT TO WEBSOCKET LIVE FEED

Fetch All Instrument Keys to subscribe

In [13]:
# ActivateMarketFeed
# token_list = [99926000] is a NIFTY 50 token to get ltp of NIFTY 50 index
token_list = list(set(df_futureOptions['instrument_key'].tolist()))
print(token_list)

['NSE_FO|40572', 'NSE_FO|40577', 'NSE_FO|40583', 'NSE_FO|40571', 'NSE_FO|40584', 'NSE_FO|40570', 'NSE_FO|40579', 'NSE_FO|40580', 'NSE_FO|40573', 'NSE_FO|40582', 'NSE_FO|40581', 'NSE_FO|40578']

In [24]:
access_token= CredentialUpstox.ACCESS_TOKEN
import time



feed_col = ['Token','Open', 'High', 'Low', 'Close', 'Ltp', 'Vol', 'Oi', 'theta', 'delta', 'gamma', 'vega', 'rho', 'iv', 'vtt']
df_feed = pd.DataFrame(columns=feed_col)


def on_message(message):
    print(message)
    global df_feed
    print("inside message")

    # Ensure message is a dict
    if isinstance(message, str):
        try:
            feeds = json.loads(message)
        except Exception as e:
            print("Failed to parse message:", e, message)
            return
    elif isinstance(message, dict):
        feeds = message.get("feeds", {})  # Upstox WS puts data under "feeds"
    else:
        print("Unexpected message type:", type(message))
        return

    for token, feed_data in feeds.items():
        marketFF = feed_data.get("fullFeed", {}).get("marketFF", {})

        # Extract values safely
        ltpc = marketFF.get("ltpc", {})
        ohlc_list = marketFF.get("marketOHLC", {}).get("ohlc", [])
        greeks = marketFF.get("optionGreeks", {})

        # Use daily OHLC if available
        ohlc = next((item for item in ohlc_list if item.get("interval") == "1d"), {})

        row = {
            "Token": token,
            "Open": float(ohlc.get("open", 0)),
            "High": float(ohlc.get("high", 0)),
            "Low": float(ohlc.get("low", 0)),
            "Close": float(ohlc.get("close", 0)),
            "Ltp": float(ltpc.get("ltp", 0)),
            "Vol": float(ohlc.get("vol", 0)),
            "Oi": float(marketFF.get("oi", 0)),
            "theta": float(greeks.get("theta", 0)),
            "delta": float(greeks.get("delta", 0)),
            "gamma": float(greeks.get("gamma", 0)),
            "vega": float(greeks.get("vega", 0)),
            "rho": float(greeks.get("rho", 0)),
            "iv": float(marketFF.get("iv", 0)),
            "vtt": float(marketFF.get("vtt", 0)),
        }

        # Update if token exists, else append
        if token in df_feed["Token"].values:
            df_feed.loc[df_feed["Token"] == token, list(row.keys())] = list(row.values())
        else:
            df_feed = pd.concat([df_feed, pd.DataFrame([row])], ignore_index=True)

    print(df_feed.tail(3))  # Debug print last few rows
            
        
    

def on_error(error):
    print("Error:", error)

def on_close():
    print("WebSocket closed")


# Use your existing access_token
configuration = upstox_client.Configuration()
configuration.access_token = access_token

# Replace with your desired instrument key and mode
instrument_key = token_list  # e.g., 'NSE_INDEX|Nifty 50'
mode = 'full_d30'  # full_d30, ltpc, full, etc.

streamer = upstox_client.MarketDataStreamerV3(
    upstox_client.ApiClient(configuration),
    instrument_key,
    mode=mode
)

streamer.on("message", on_message)
streamer.on("error", on_error)
streamer.on("close", on_close)

print("Connecting to Upstox Market Data Stream...")
streamer.connect()
while True:
    time.sleep(1)

Connecting to Upstox Market Data Stream...
{'type': 'market_info', 'currentTs': '1757267884290', 'marketInfo': {'segmentStatus': {'NSE_EQ': 'CLOSING_END', 'NCD_FO': 'NORMAL_CLOSE', 'BSE_EQ': 'CLOSING_END', 'US_EQ': 'NORMAL_CLOSE', 'BSE_FO': 'NORMAL_CLOSE', 'NSE_FO': 'NORMAL_CLOSE', 'BCD_FO': 'NORMAL_CLOSE', 'MCX_FO': 'NORMAL_CLOSE'}}}
inside message
Empty DataFrame
Columns: [Token, Open, High, Low, Close, Ltp, Vol, Oi, theta, delta, gamma, vega, rho, iv, vtt]
Index: []
{'feeds': {'NSE_FO|40582': {'fullFeed': {'marketFF': {'ltpc': {'ltp': 96.95, 'ltt': '1757066399867', 'ltq': '75', 'cp': 123.3}, 'marketLevel': {'bidAskQuote': [{'bidQ': '225', 'bidP': 96.25, 'askQ': '825', 'askP': 96.9}, {'bidQ': '225', 'bidP': 96.2, 'askQ': '150', 'askP': 96.95}, {'bidQ': '75', 'bidP': 96.15, 'askQ': '8025', 'askP': 97.0}, {'bidQ': '825', 'bidP': 96.0, 'askQ': '525', 'askP': 97.15}, {'bidQ': '975', 'bidP': 95.9, 'askQ': '375', 'askP': 97.2}]}, 'optionGreeks': {'delta': -0.5782, 'theta': -9.3046, 'gamma': 0.0021, 'vega': 10.1421, 'rho': -1.5796}, 'marketOHLC': {'ohlc': [{'interval': '1d', 'open': 96.0, 'high': 202.8, 'low': 62.35, 'close': 96.95, 'vol': '375002625', 'ts': '1757010600000'}, {'interval': 'I1', 'open': 95.45, 'high': 97.0, 'low': 95.0, 'close': 96.95, 'vol': '704925', 'ts': '1757066340000'}]}, 'atp': 108.03, 'vtt': '375002625', 'oi': 7021200.0, 'iv': 0.073394775390625, 'tbq': 338550.0, 'tsq': 329250.0}}, 'requestMode': 'full_d30'}, 'NSE_FO|40583': {'fullFeed': {'marketFF': {'ltpc': {'ltp': 47.3, 'ltt': '1757066399881', 'ltq': '75', 'cp': 59.95}, 'marketLevel': {'bidAskQuote': [{'bidQ': '300', 'bidP': 47.3, 'askQ': '300', 'askP': 47.6}, {'bidQ': '300', 'bidP': 47.25, 'askQ': '300', 'askP': 47.7}, {'bidQ': '75', 'bidP': 47.15, 'askQ': '150', 'askP': 47.85}, {'bidQ': '75', 'bidP': 47.1, 'askQ': '525', 'askP': 47.95}, {'bidQ': '4875', 'bidP': 47.0, 'askQ': '41925', 'askP': 48.0}]}, 'optionGreeks': {'delta': 0.3402, 'theta': -9.7037, 'gamma': 0.0017, 'vega': 9.5006, 'rho': 0.9181}, 'marketOHLC': {'ohlc': [{'interval': '1d', 'open': 67.65, 'high': 86.75, 'low': 24.75, 'close': 47.3, 'vol': '317782350', 'ts': '1757010600000'}, {'interval': 'I1', 'open': 48.5, 'high': 48.75, 'low': 47.3, 'close': 47.3, 'vol': '1194825', 'ts': '1757066340000'}]}, 'atp': 50.39, 'vtt': '317782350', 'oi': 7842375.0, 'iv': 0.0817108154296875, 'tbq': 252675.0, 'tsq': 1635450.0}}, 'requestMode': 'full_d30'}, 'NSE_FO|40579': {'fullFeed': {'marketFF': {'ltpc': {'ltp': 91.1, 'ltt': '1757066399921', 'ltq': '150', 'cp': 102.8}, 'marketLevel': {'bidAskQuote': [{'bidQ': '525', 'bidP': 91.5, 'askQ': '1425', 'askP': 91.9}, {'bidQ': '300', 'bidP': 91.05, 'askQ': '600', 'askP': 92.3}, {'bidQ': '75', 'bidP': 91.0, 'askQ': '150', 'askP': 92.35}, {'bidQ': '300', 'bidP': 90.95, 'askQ': '450', 'askP': 92.4}, {'bidQ': '300', 'bidP': 90.75, 'askQ': '300', 'askP': 92.5}]}, 'optionGreeks': {'delta': 0.5233, 'theta': -10.8102, 'gamma': 0.0018, 'vega': 10.3238, 'rho': 1.4098}, 'marketOHLC': {'ohlc': [{'interval': '1d', 'open': 130.0, 'high': 146.2, 'low': 46.35, 'close': 91.1, 'vol': '339062100', 'ts': '1757010600000'}, {'interval': 'I1', 'open': 92.85, 'high': 93.95, 'low': 90.65, 'close': 91.1, 'vol': '1327275', 'ts': '1757066340000'}]}, 'atp': 86.36, 'vtt': '339065625', 'oi': 5051925.0, 'iv': 0.083770751953125, 'tbq': 324450.0, 'tsq': 535125.0}}, 'requestMode': 'full_d30'}, 'NSE_FO|40577': {'fullFeed': {'marketFF': {'ltpc': {'ltp': 121.45, 'ltt': '1757066399924', 'ltq': '75', 'cp': 130.5}, 'marketLevel': {'bidAskQuote': [{'bidQ': '225', 'bidP': 120.65, 'askQ': '225', 'askP': 121.55}, {'bidQ': '375', 'bidP': 120.45, 'askQ': '900', 'askP': 121.6}, {'bidQ': '225', 'bidP': 120.35, 'askQ': '450', 'askP': 121.65}, {'bidQ': '300', 'bidP': 120.3, 'askQ': '300', 'askP': 121.7}, {'bidQ': '375', 'bidP': 120.05, 'askQ': '225', 'askP': 121.75}]}, 'optionGreeks': {'delta': 0.6123, 'theta': -10.529, 'gamma': 0.0017, 'vega': 9.9286, 'rho': 1.6483}, 'marketOHLC': {'ohlc': [{'interval': '1d', 'open': 136.6, 'high': 182.95, 'low': 63.3, 'close': 121.45, 'vol': '426096750', 'ts': '1757010600000'}, {'interval': 'I1', 'open': 122.85, 'high': 123.0, 'low': 120.1, 'close': 121.45, 'vol': '623250', 'ts': '1757066340000'}]}, 'atp': 105.07, 'vtt': '426096750', 'oi': 6355650.0, 'iv': 0.0848388671875, 'tbq': 409575.0, 'tsq': 536100.0}}, 'requestMode': 'full_d30'}, 'NSE_FO|40572': {'fullFeed': {'marketFF': {'ltpc': {'ltp': 157.2, 'ltt': '1757066399847', 'ltq': '75', 'cp': 162.35}, 'marketLevel': {'bidAskQuote': [{'bidQ': '300', 'bidP': 156.4, 'askQ': '225', 'askP': 157.2}, {'bidQ': '225', 'bidP': 156.05, 'askQ': '300', 'askP': 157.25}, {'bidQ': '1725', 'bidP': 156.0, 'askQ': '225', 'askP': 157.3}, {'bidQ': '225', 'bidP': 155.95, 'askQ': '150', 'askP': 157.35}, {'bidQ': '150', 'bidP': 155.8, 'askQ': '675', 'askP': 157.4}]}, 'optionGreeks': {'delta': 0.6902, 'theta': -10.0352, 'gamma': 0.0015, 'vega': 9.1423, 'rho': 1.8558}, 'marketOHLC': {'ohlc': [{'interval': '1d', 'open': 200.0, 'high': 223.5, 'low': 85.05, 'close': 157.2, 'vol': '166282800', 'ts': '1757010600000'}, {'interval': 'I1', 'open': 158.8, 'high': 159.25, 'low': 156.2, 'close': 157.2, 'vol': '174075', 'ts': '1757066340000'}]}, 'atp': 125.91, 'vtt': '166282875', 'oi': 1800150.0, 'iv': 0.0878143310546875, 'tbq': 126825.0, 'tsq': 130875.0}}, 'requestMode': 'full_d30'}, 'NSE_FO|40573': {'fullFeed': {'marketFF': {'ltpc': {'ltp': 38.5, 'ltt': '1757066399995', 'ltq': '75', 'cp': 57.4}, 'marketLevel': {'bidAskQuote': [{'bidQ': '75', 'bidP': 38.3, 'askQ': '300', 'askP': 38.5}, {'bidQ': '450', 'bidP': 38.25, 'askQ': '600', 'askP': 38.55}, {'bidQ': '825', 'bidP': 38.1, 'askQ': '75', 'askP': 38.65}, {'bidQ': '450', 'bidP': 38.05, 'askQ': '300', 'askP': 38.75}, {'bidQ': '3675', 'bidP': 38.0, 'askQ': '1800', 'askP': 38.85}]}, 'optionGreeks': {'delta': -0.2931, 'theta': -8.9121, 'gamma': 0.0017, 'vega': 8.9171, 'rho': -0.7995}, 'marketOHLC': {'ohlc': [{'interval': '1d', 'open': 40.0, 'high': 107.85, 'low': 23.35, 'close': 38.5, 'vol': '383068725', 'ts': '1757010600000'}, {'interval': 'I1', 'open': 37.6, 'high': 38.9, 'low': 37.3, 'close': 38.5, 'vol': '1049625', 'ts': '1757066340000'}]}, 'atp': 63.05, 'vtt': '383068950', 'oi': 5833725.0, 'iv': 0.0799560546875, 'tbq': 286500.0, 'tsq': 844800.0}}, 'requestMode': 'full_d30'}, 'NSE_FO|40570': {'fullFeed': {'marketFF': {'ltpc': {'ltp': 197.0, 'ltt': '1757066399562', 'ltq': '225', 'cp': 198.9}, 'marketLevel': {'bidAskQuote': [{'bidQ': '225', 'bidP': 195.65, 'askQ': '750', 'askP': 196.9}, {'bidQ': '450', 'bidP': 195.4, 'askQ': '150', 'askP': 196.95}, {'bidQ': '225', 'bidP': 195.3, 'askQ': '675', 'askP': 197.0}, {'bidQ': '375', 'bidP': 195.25, 'askQ': '375', 'askP': 197.2}, {'bidQ': '1650', 'bidP': 195.0, 'askQ': '375', 'askP': 197.25}]}, 'optionGreeks': {'delta': 0.753, 'theta': -9.429, 'gamma': 0.0013, 'vega': 8.1847, 'rho': 2.0218}, 'marketOHLC': {'ohlc': [{'interval': '1d', 'open': 230.0, 'high': 266.25, 'low': 113.0, 'close': 197.0, 'vol': '120168000', 'ts': '1757010600000'}, {'interval': 'I1', 'open': 198.25, 'high': 198.9, 'low': 195.85, 'close': 197.0, 'vol': '161700', 'ts': '1757066340000'}]}, 'atp': 164.04, 'vtt': '120168000', 'oi': 2670525.0, 'iv': 0.0921630859375, 'tbq': 284775.0, 'tsq': 137325.0}}, 'requestMode': 'full_d30'}, 'NSE_FO|40581': {'fullFeed': {'marketFF': {'ltpc': {'ltp': 66.2, 'ltt': '1757066399955', 'ltq': '75', 'cp': 78.85}, 'marketLevel': {'bidAskQuote': [{'bidQ': '75', 'bidP': 66.2, 'askQ': '150', 'askP': 66.65}, {'bidQ': '450', 'bidP': 66.15, 'askQ': '150', 'askP': 66.7}, {'bidQ': '150', 'bidP': 66.1, 'askQ': '300', 'askP': 66.75}, {'bidQ': '150', 'bidP': 66.05, 'askQ': '450', 'askP': 66.8}, {'bidQ': '6225', 'bidP': 66.0, 'askQ': '225', 'askP': 66.9}]}, 'optionGreeks': {'delta': 0.4302, 'theta': -10.4295, 'gamma': 0.0018, 'vega': 10.1827, 'rho': 1.1601}, 'marketOHLC': {'ohlc': [{'interval': '1d', 'open': 87.5, 'high': 113.9, 'low': 33.55, 'close': 66.2, 'vol': '607498875', 'ts': '1757010600000'}, {'interval': 'I1', 'open': 67.8, 'high': 68.0, 'low': 66.2, 'close': 66.2, 'vol': '1687575', 'ts': '1757066340000'}]}, 'atp': 67.97, 'vtt': '607498875', 'oi': 12440400.0, 'iv': 0.081939697265625, 'tbq': 688950.0, 'tsq': 2341425.0}}, 'requestMode': 'full_d30'}, 'NSE_FO|40584': {'fullFeed': {'marketFF': {'ltpc': {'ltp': 127.2, 'ltt': '1757066399951', 'ltq': '75', 'cp': 154.25}, 'marketLevel': {'bidAskQuote': [{'bidQ': '300', 'bidP': 127.2, 'askQ': '1800', 'askP': 128.0}, {'bidQ': '75', 'bidP': 127.1, 'askQ': '300', 'askP': 128.2}, {'bidQ': '600', 'bidP': 127.05, 'askQ': '225', 'askP': 128.4}, {'bidQ': '2400', 'bidP': 127.0, 'askQ': '525', 'askP': 128.75}, {'bidQ': '750', 'bidP': 126.8, 'askQ': '225', 'askP': 128.85}]}, 'optionGreeks': {'delta': -0.6799, 'theta': -8.3646, 'gamma': 0.0019, 'vega': 9.2717, 'rho': -1.8588}, 'marketOHLC': {'ohlc': [{'interval': '1d', 'open': 121.65, 'high': 242.0, 'low': 84.7, 'close': 127.2, 'vol': '109855350', 'ts': '1757010600000'}, {'interval': 'I1', 'open': 126.4, 'high': 128.0, 'low': 125.55, 'close': 127.2, 'vol': '149325', 'ts': '1757066340000'}]}, 'atp': 132.51, 'vtt': '109855350', 'oi': 1357725.0, 'iv': 0.072174072265625, 'tbq': 70350.0, 'tsq': 73350.0}}, 'requestMode': 'full_d30'}, 'NSE_FO|40578': {'fullFeed': {'marketFF': {'ltpc': {'ltp': 52.0, 'ltt': '1757066399956', 'ltq': '75', 'cp': 75.3}, 'marketLevel': {'bidAskQuote': [{'bidQ': '1500', 'bidP': 52.0, 'askQ': '150', 'askP': 52.65}, {'bidQ': '18600', 'bidP': 51.95, 'askQ': '300', 'askP': 52.7}, {'bidQ': '1425', 'bidP': 51.9, 'askQ': '600', 'askP': 52.8}, {'bidQ': '300', 'bidP': 51.85, 'askQ': '675', 'askP': 52.95}, {'bidQ': '900', 'bidP': 51.8, 'askQ': '34200', 'askP': 53.0}]}, 'optionGreeks': {'delta': -0.3765, 'theta': -9.4424, 'gamma': 0.0019, 'vega': 9.8421, 'rho': -1.0275}, 'marketOHLC': {'ohlc': [{'interval': '1d', 'open': 48.4, 'high': 135.0, 'low': 32.25, 'close': 52.0, 'vol': '568415100', 'ts': '1757010600000'}, {'interval': 'I1', 'open': 51.45, 'high': 53.0, 'low': 51.1, 'close': 52.0, 'vol': '1633125', 'ts': '1757066340000'}]}, 'atp': 76.18, 'vtt': '568415100', 'oi': 8736750.0, 'iv': 0.076751708984375, 'tbq': 821175.0, 'tsq': 1185900.0}}, 'requestMode': 'full_d30'}, 'NSE_FO|40571': {'fullFeed': {'marketFF': {'ltpc': {'ltp': 28.2, 'ltt': '1757066399935', 'ltq': '150', 'cp': 44.2}, 'marketLevel': {'bidAskQuote': [{'bidQ': '450', 'bidP': 27.85, 'askQ': '75', 'askP': 28.15}, {'bidQ': '450', 'bidP': 27.8, 'askQ': '75', 'askP': 28.25}, {'bidQ': '975', 'bidP': 27.75, 'askQ': '75', 'askP': 28.35}, {'bidQ': '1800', 'bidP': 27.7, 'askQ': '75', 'askP': 28.4}, {'bidQ': '525', 'bidP': 27.65, 'askQ': '75', 'askP': 28.45}]}, 'optionGreeks': {'delta': -0.2254, 'theta': -8.1182, 'gamma': 0.0014, 'vega': 7.7812, 'rho': -0.6146}, 'marketOHLC': {'ohlc': [{'interval': '1d', 'open': 30.2, 'high': 84.9, 'low': 17.1, 'close': 28.2, 'vol': '443655975', 'ts': '1757010600000'}, {'interval': 'I1', 'open': 27.5, 'high': 28.5, 'low': 27.2, 'close': 28.2, 'vol': '1235250', 'ts': '1757066340000'}]}, 'atp': 46.35, 'vtt': '443660025', 'oi': 10732575.0, 'iv': 0.083465576171875, 'tbq': 474375.0, 'tsq': 1715400.0}}, 'requestMode': 'full_d30'}, 'NSE_FO|40580': {'fullFeed': {'marketFF': {'ltpc': {'ltp': 71.9, 'ltt': '1757066399988', 'ltq': '75', 'cp': 97.2}, 'marketLevel': {'bidAskQuote': [{'bidQ': '1275', 'bidP': 72.25, 'askQ': '450', 'askP': 72.45}, {'bidQ': '150', 'bidP': 72.15, 'askQ': '225', 'askP': 72.65}, {'bidQ': '150', 'bidP': 72.0, 'askQ': '450', 'askP': 72.7}, {'bidQ': '150', 'bidP': 71.95, 'askQ': '225', 'askP': 72.75}, {'bidQ': '225', 'bidP': 71.85, 'askQ': '24000', 'askP': 73.0}]}, 'optionGreeks': {'delta': -0.4745, 'theta': -9.7338, 'gamma': 0.002, 'vega': 10.3203, 'rho': -1.2957}, 'marketOHLC': {'ohlc': [{'interval': '1d', 'open': 70.0, 'high': 167.25, 'low': 45.0, 'close': 71.9, 'vol': '321098400', 'ts': '1757010600000'}, {'interval': 'I1', 'open': 70.6, 'high': 73.0, 'low': 70.4, 'close': 71.9, 'vol': '1432875', 'ts': '1757066340000'}]}, 'atp': 86.81, 'vtt': '321099825', 'oi': 4525875.0, 'iv': 0.0754547119140625, 'tbq': 416850.0, 'tsq': 347175.0}}, 'requestMode': 'full_d30'}}, 'currentTs': '1757267884335'}
inside message
           Token  Open    High    Low  Close   Ltp          Vol          Oi  \
9   NSE_FO|40578  48.4  135.00  32.25   52.0  52.0  568415100.0   8736750.0
10  NSE_FO|40571  30.2   84.90  17.10   28.2  28.2  443655975.0  10732575.0
11  NSE_FO|40580  70.0  167.25  45.00   71.9  71.9  321098400.0   4525875.0

     theta   delta   gamma     vega     rho        iv          vtt
9  -9.4424 -0.3765  0.0019   9.8421 -1.0275  0.076752  568415100.0
10 -8.1182 -0.2254  0.0014   7.7812 -0.6146  0.083466  443660025.0
11 -9.7338 -0.4745  0.0020  10.3203 -1.2957  0.075455  321099825.0

/var/folders/bm/2sqnclys19zb2dh55g0cx4zc0000gn/T/ipykernel_89602/938924702.py:61: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_feed = pd.concat([df_feed, pd.DataFrame([row])], ignore_index=True)

KeyboardInterrupt:

In [25]:
df_feed.head(17)

,Token,Open,High,Low,Close,Ltp,Vol,Oi,theta,delta,gamma,vega,rho,iv,vtt
0,NSE_FO|40582,96.00,202.80,62.35,96.95,96.95,375002625.0,7021200.0,-9.3046,-0.5782,0.0021,10.1421,-1.5796,0.073395,375002625.0
1,NSE_FO|40583,67.65,86.75,24.75,47.30,47.30,317782350.0,7842375.0,-9.7037,0.3402,0.0017,9.5006,0.9181,0.081711,317782350.0
2,NSE_FO|40579,130.00,146.20,46.35,91.10,91.10,339062100.0,5051925.0,-10.8102,0.5233,0.0018,10.3238,1.4098,0.083771,339065625.0
3,NSE_FO|40577,136.60,182.95,63.30,121.45,121.45,426096750.0,6355650.0,-10.5290,0.6123,0.0017,9.9286,1.6483,0.084839,426096750.0
4,NSE_FO|40572,200.00,223.50,85.05,157.20,157.20,166282800.0,1800150.0,-10.0352,0.6902,0.0015,9.1423,1.8558,0.087814,166282875.0
5,NSE_FO|40573,40.00,107.85,23.35,38.50,38.50,383068725.0,5833725.0,-8.9121,-0.2931,0.0017,8.9171,-0.7995,0.079956,383068950.0
6,NSE_FO|40570,230.00,266.25,113.00,197.00,197.00,120168000.0,2670525.0,-9.4290,0.7530,0.0013,8.1847,2.0218,0.092163,120168000.0
7,NSE_FO|40581,87.50,113.90,33.55,66.20,66.20,607498875.0,12440400.0,-10.4295,0.4302,0.0018,10.1827,1.1601,0.081940,607498875.0
8,NSE_FO|40584,121.65,242.00,84.70,127.20,127.20,109855350.0,1357725.0,-8.3646,-0.6799,0.0019,9.2717,-1.8588,0.072174,109855350.0
9,NSE_FO|40578,48.40,135.00,32.25,52.00,52.00,568415100.0,8736750.0,-9.4424,-0.3765,0.0019,9.8421,-1.0275,0.076752,568415100.0
10,NSE_FO|40571,30.20,84.90,17.10,28.20,28.20,443655975.0,10732575.0,-8.1182,-0.2254,0.0014,7.7812,-0.6146,0.083466,443660025.0
11,NSE_FO|40580,70.00,167.25,45.00,71.90,71.90,321098400.0,4525875.0,-9.7338,-0.4745,0.0020,10.3203,-1.2957,0.075455,321099825.0